{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} Picture Dictionary {% endblock %}
{% block content %}
<div class="container">
<div class="page-header well well-sm">
    <h1 align="center">  <kbd>Picture Dictionary</kbd></h1>
    <p align="center">Select languages for translation and receive image representation</small>
</div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="center-block" src="{{pics[0]}}" style="width:400px;height:360px" alt="First Slide">
        </div>
        <div class="item">
            <img class="center-block" src="{{pics[1]}}" style="width:400px;height:360px" alt="Second Slide">
        </div>
        <div class="item">
            <img class="center-block" src="{{pics[2]}}" style="width:400px;height:360px" alt="Third Slide">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
</head>
<body>
    <div class="dropdown">
            <div class="col-md-8 col-md-offset-2">
                <form action="{{ url_for('home') }}" method="post">
                    <div class="well well-sm">
					{{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.from_select.label }}
                        <small class="text-muted">{{ form.from_select.description }}</small>
                        {{ form.from_select(class_="form-control") }}
                    </div>

					<p>
					{{form.user_language(class='form-control', id='usrInput')}}
					<button class="btn btn-default" type="submit" >Translate!</button>
					</p>
					</div>
					
					{{ form.hidden_tag() }}
					<div class="well well-sm">
                    {{ form.to_select.label }}
                    <small class="text-muted">{{ form.to_select.description }}</small>
                    {{ form.to_select(class_="form-control") }}
					<small class='text-muted'>Translation :</small>
					<small class='form-control'>{{trans}}</small>
                    </div>
					
					{{form.csrf_token}}
					{{form.hidden_tag()}}
				
					</div>


					</div>
                </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function()
	{
        $("select").select2({});
    });
    </script>
</body>

</div>
</div>

{% endblock %}

